.Paragraph-Style
{
	font-family: '__Miso_3';
}

.Paragraph-Style-1
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u609-12,#u618-4,#u622-4,#u701-4,#u969-4,#u965-4,#u984-4
{
	font-family: '__Miso_3';
}

#u617-10,#u1073-7,#u637-13
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1006-4
{
	font-family: source-sans-pro-i3, sans-serif;
}

