#u1443
{
	background-color: #FFFFFF;
	position: fixed;
}

#u1444-14
{
	background-color: transparent;
	line-height: 17px;
	position: fixed;
}

#u1405
{
	background-color: #205479;
}

#u1220
{
	background-color: #FFFFFF;
}

#u1231-13
{
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1232
{
	background-color: #7F7F7F;
	position: relative;
}

#u1230-10
{
	background-color: transparent;
	line-height: 17px;
	position: relative;
}

#u1221,#u1225
{
	background-color: transparent;
	position: relative;
}

#u1220_align_to_page,#u1223
{
	position: relative;
}

