/*

*/

.version.workshops /* version checker */
{
	color: #0000E9;
	background-color: #B83FA7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 923px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 1px;
	width: 0.01px;
}

#pu1437
{
	width: 0.01px;
	padding-bottom: 65px;
	margin-left: -100px;
}

#u1437
{
	z-index: 48;
	height: 65px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u1437-bw
{
	z-index: 48;
}

#u1443
{
	z-index: 63;
	height: 65px;
	top: 0px;
}

#u1443-bw
{
	z-index: 63;
}

#u1444-14
{
	z-index: 64;
	width: 461px;
	min-height: 29px;
	top: 29px;
	left: 50%;
	margin-left: 34px;
}

#u1438-14
{
	z-index: 49;
	width: 461px;
	min-height: 29px;
	background-color: transparent;
	line-height: 17px;
	position: fixed;
	top: 29px;
	left: 50%;
	margin-left: 119px;
}

#u1351
{
	z-index: 33;
	min-height: 339px;
	background-color: #E6E7E8;
	padding-bottom: 260px;
}

#u1351_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1399
{
	z-index: 47;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 120px;
}

#u1383-13
{
	z-index: 34;
	width: 463px;
	min-height: 96px;
	background-color: transparent;
	line-height: 120px;
	font-size: 100px;
	text-align: left;
	font-family: '__Miso_3';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 614px;
}

#u1383-4,#u1383-8
{
	color: #EEBA00;
}

#u1383-2,#u1383-5,#u1383-7,#u1383-9
{
	color: #205479;
}

#u1383,#u1383-3,#u1383-6,#u1383-10
{
	color: #EC6552;
}

#u1351-bw
{
	z-index: 33;
	min-height: 339px;
}

#u1405
{
	z-index: 32;
	height: 4px;
}

#u1405-bw
{
	z-index: 32;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 4px;
}

#u1220
{
	z-index: 2;
	min-height: 234px;
	padding-bottom: 61px;
}

#u1220_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu1231-13
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 253px;
}

#u1231-13
{
	z-index: 18;
	width: 282px;
	min-height: 54px;
}

#u1221
{
	z-index: 3;
	width: 110px;
	margin-top: 29px;
}

#u1232
{
	z-index: 31;
	width: 1px;
	height: 194px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 569px;
}

#pu1230-10
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 91px;
	margin-left: 604px;
}

#u1230-10
{
	z-index: 8;
	width: 303px;
}

#pu1225
{
	width: 0.01px;
	margin-top: 17px;
}

#u1225
{
	z-index: 6;
	width: 132px;
	margin-right: -10000px;
	margin-top: 19px;
}

#u1223
{
	z-index: 5;
	margin-right: -10000px;
	left: 196px;
}

#u1220-bw
{
	z-index: 2;
	min-height: 234px;
	margin-top: 29px;
}

@font-face
{
	font-family: '__Miso_3';
	src: url('../fonts/miso-bold-webfont.eot');
	src: local('☺'), url('../fonts/miso-bold-webfont.woff') format('woff'), url('../fonts/miso-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

